<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HRMS, менеджмент, человеческие ресурсы, автоматизация, предприятие">
    <meta name="description" content="Добро пожаловать! HRMS - это совершенно новая HRM-система, которая позволит вам эффективно распоряжаться человеческими ресурсами на предприятии. Предприятие любого вида и направленности обязательно найдет для себя все необходимые функции для успешного развития кадров.">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <title>HRMS: Добро пожаловать</title>
</head>
<body>
    <div class="container">
        <main class="login">

            <div class="slider">
                <div class="slider__inner"></div>
                <div class="slider__btns"></div>
            </div>

            <div class="cards">

                <h3 class="cards__title">Недавно входили на сайт с этого компьютера</h3>
                <p class="cards__subtitle">Чтобы войти снова, нажмите на фотографию или имя</p>

                <div class="cards__container">

                    <div class="card card_new">

                        <button class="card__info" type="button">
                            <svg class="card__avatar card__avatar_add">
                                <use xlink:href="./images/icons/svg/icons.svg#plus-icon"></use>
                            </svg>
                            <p class="card__text card__text_surname">Добавить новый аккаунт</p>
                        </button>

                    </div>

                </div>

            </div>

            <form class="form" action="#" method="post" id="form-login">
                <h1 class="form__header">Вход</h1>
                <ul class="form__inputs" role="list">
                    <li class="form__input-container">
                        <label class="form__label" for="input-login">Почта</label>
                        <input
                            class="form__input"
                            type="email"
                            name="login"
                            id="input-login"
                            placeholder="Введите почту"
                            required>
                        <span class="form__required"></span>
                        <svg class="form__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#email-icon"></use>
                        </svg>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-password">Пароль</label>
                        <input
                            class="form__input"
                            type="password"
                            name="password"
                            id="input-password"
                            placeholder="Введите пароль"
                            pattern="[A-Za-zА-Яа-я0-9_\-!?]+"
                            title="Пароль может содержать только кириллицу, латинские буквы и символы: !?-_"
                            required>
                        <span class="form__required"></span>
                        <svg class="form__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#lock-icon"></use>
                        </svg>
                    </li>
                    <li class="form__input-container form__input-container_checkbox">
                        <input
                            class="form__input form__input_checkbox"
                            type="checkbox"
                            id="input-remember"
                            value="true">
                        <label class="form__label form__label_checkbox" for="input-remember">Сохранить вход</label>
                    </li>
                </ul>
                <button class="form__btn form__btn_main" type="submit" id="btn-login">Войти</button>
                <button class="form__btn form__btn_change-form" type="button">Хотите зарегистрироваться?</button>
            </form>

            <form class="form hidden" action="#" method="post" id="form-register">
                <h1 class="form__header">Регистрация</h1>
                <ul class="form__inputs form__inputs_reg" role="list">
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-name">Имя</label>
                        <input
                            class="form__input"
                            type="text"
                            name="name"
                            id="input-reg-name"
                            placeholder="Иван"
                            pattern="[\- A-Za-zА-Яа-я]+"
                            title="Имя может содержать только кириллицу, латинские буквы и дефис"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-surname">Фамилия</label>
                        <input
                            class="form__input"
                            type="text"
                            name="surname"
                            id="input-reg-surname"
                            placeholder="Иванов"
                            pattern="[\- A-Za-zА-Яа-я]+"
                            title="Фамилия может содержать только кириллицу, латинские буквы и дефис"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-middlename">Отчество</label>
                        <input
                            class="form__input"
                            type="text"
                            name="middlename"
                            id="input-reg-middlename"
                            placeholder="Иванович"
                            pattern="[\- A-Za-zА-Яа-я]+"
                            title="Отчество может содержать только кириллицу, латинские буквы и дефис"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-birthdate">Дата рождения</label>
                        <input
                            class="form__input"
                            type="date"
                            name="birthdate"
                            id="input-reg-birthdate"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-phone">Телефон</label>
                        <input
                            class="form__input"
                            type="text"
                            name="phone"
                            id="input-reg-phone"
                            placeholder="+7(777) 777-77-77"
                            pattern="^\+\d\(\d{3}\) \d{3}-\d{2}-\d{2}$"
                            title="Введите номер телефона согласно следующему формату: +X(XXX) XXX-XX-XX">
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-login">Почта</label>
                        <input
                            class="form__input"
                            type="email"
                            name="login"
                            id="input-reg-login"
                            placeholder="Ваша почта"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-password">Пароль</label>
                        <input
                            class="form__input"
                            type="password"
                            name="password"
                            id="input-reg-password"
                            placeholder="Введите пароль"
                            pattern="[A-Za-zА-Яа-я0-9_\-!?]+"
                            title="Пароль может содержать только кириллицу, латинские буквы и символы: !?-_"
                            required>
                        <span class="form__required"></span>
                    </li>
                    <li class="form__input-container">
                        <label class="form__label" for="input-reg-repassword">Повторите пароль</label>
                        <input
                            class="form__input"
                            type="password"
                            id="input-reg-repassword"
                            placeholder="Пароль"
                            pattern="[A-Za-zА-Яа-я0-9_\-!?]+"
                            title="Пароль может содержать только кириллицу, латинские буквы и символы: !?-_"
                            required>
                        <span class="form__required"></span>
                    </li>
                </ul>
                <button class="form__btn form__btn_main" type="submit" id="btn-register">Зарегистрироваться</button>
                <button class="form__btn form__btn_change-form" type="button">Уже имеете учетную запись?</button>
            </form>

        </main>

    </div>

    <template id="template-slide">
        <div class="slider__item">
            <div class="slider__text">
                <svg class="slider__icon">
                    <use xlink:href="./images/icons/svg/icons.svg#success-icon"></use>
                </svg>
                <span class="slider__desc"></span>
            </div>
            <img class="slider__image" src="" alt="">
        </div>
    </template>

    <template id="template-card">
        <div class="card">

            <button class="card__info" type="button">
                <img class="card__avatar" src="" alt="изображение пользователя">
                <p class="card__text card__text_surname"></p>
                <p class="card__text card__text_name"></p>
            </button>

            <button class="card__btn-delete" type="button">
                <svg class="card__icon-delete">
                    <use xlink:href="./images/icons/svg/icons.svg#close-icon"></use>
                </svg>
            </button>

        </div>
    </template>

</body>
</html>