<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HRMS, менеджмент, человеческие ресурсы, автоматизация, предприятие">
    <meta name="description" content="Добро пожаловать! HRMS - это совершенно новая HRM-система, которая позволит вам эффективно распоряжаться человеческими ресурсами на предприятии. Предприятие любого вида и направленности обязательно найдет для себя все необходимые функции для успешного развития кадров.">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <title>HRMS: Сотрудники</title>
</head>
<body>
    <div class="container">

        <div class="nav-container">

            <header class="header">
                <a class="header__content" href="./home.html">
                    <img class="header__logo" src="./images/logo.png" alt="Логотип HRM системы">
                    <h1 class="header__text">HRMS</h1>
                </a>
            </header>

            <nav class="nav">
                <ul class="nav__list" aria-label="Инструменты" role="list">
                    <li class="nav__item">
                        <a class="nav__btn" href="./home.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#compass-icon"></use>
                            </svg>
                            <p class="nav__text">Обзор</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#recruiting-icon"></use>
                            </svg>
                            <p class="nav__text">Рекрутинг</p>
                        </a>
                    </li>

                    <li class="nav__item  nav__item_current">
                        <a class="nav__btn" href="./people.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#group-icon"></use>
                            </svg>
                            <p class="nav__text">Сотрудники</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#payroll-icon"></use>
                            </svg>
                            <p class="nav__text">Зарплата</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#statistics-icon"></use>
                            </svg>
                            <p class="nav__text">Статистика</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#data-icon"></use>
                            </svg>
                            <p class="nav__text">Данные</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#calendar-icon"></use>
                            </svg>
                            <p class="nav__text">Календарь</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#chat-icon"></use>
                            </svg>
                            <p class="nav__text">Чаты</p>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="nav">
                <ul class="nav__list" aria-label="Другое" role="list">
                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#support-icon"></use>
                            </svg>
                            <p class="nav__text">Поддержка</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#settings-icon"></use>
                            </svg>
                            <p class="nav__text">Настройки</p>
                        </a>
                    </li>
                </ul>
            </nav>

            <button class="nav__toggler-btn nav__toggler-btn_close" type="button">
                <svg class="nav__toggler-icon">
                    <use xlink:href="./images/icons/svg/icons.svg#arrow-icon"></use>
                </svg>
            </button>
        </div>

        <main class="main">

            <section class="section section_grow">
                <div class="section__header">
                    <h2 class="section__title section__title_large">Сотрудники</h2>
                    <button class="section__btn section__btn_clear">Очистить</button>
                </div>

                <div class="section__tabs">
                    <input class="section__radio" type="radio" name="tab" id="radio-workers" value="workers" checked>
                    <label class="section__tabname" for="radio-workers">Сотрудники</label>
                    <input class="section__radio" type="radio" name="tab" id="radio-divisions" value="divisions">
                    <label class="section__tabname" for="radio-divisions">Подразделения</label>
                </div>

                <div class="section__inputs">

                    <div class="section__container section__container_x2">
                        <input
                            class="section__input section__input_search"
                            type="search"
                            name="search"
                            id="input-search"
                            placeholder="Поиск"
                            aria-label="Поиск">
                        <svg class="section__input__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#search-icon"></use>
                        </svg>
                    </div>

                    <div class="section__container section__container_x1">
                        <input
                            class="section__input"
                            type="text"
                            name="position"
                            id="input-position"
                            list="datalist-positions"
                            placeholder="Должность"
                            aria-label="Должность">
                        <svg class="section__input__icon section__input__icon_persons">
                            <use xlink:href="./images/icons/svg/icons.svg#persons-icon"></use>
                        </svg>
                        <datalist class="section__datalist" id="datalist-positions">
                            <option value="Разработчик"></option>
                            <option value="Инженер"></option>
                            <option value="Старший бухгалтер"></option>
                            <option value="Архитектор"></option>
                        </datalist>
                    </div>

                    <div class="section__container section__container_radio">
                        <input class="section__radio" type="radio" name="view" id="radio-cards" value="cards" checked>
                        <label class="section__label" for="radio-cards">
                            <svg class="section__input__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#cards-icon"></use>
                            </svg>
                        </label>
                        <input class="section__radio" type="radio" name="view" id="radio-rows" value="rows">
                        <label class="section__label" for="radio-rows">
                            <svg class="section__input__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#rows-icon"></use>
                            </svg>
                        </label>
                    </div>

                </div>

                <div class="content-wrapper" id="workers-list">
                    <ul class="content content_cards" role="list" aria-label="Список сотрудников">

                        <li class="content__item content__item_header">
                            <div class="row row_header">
                                <p class="content__name">Имя</p>
                                <p class="content__surname">Фамилия</p>
                                <p class="content__middlename">Отчество</p>
                                <p class="content__division">Подразделение</p>
                                <p class="content__position">Должность</p>
                                <p class="content__salary">Заработная плата</p>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="content-wrapper content-wrapper_table hidden" id="graph">
                    <div class="section__graph"></div>
                </div>

            </section>

        </main>

        <aside class="aside">

            <div class="calendar">

                <h3 class="calendar__title">Календарь</h3>

                <ul class="calendar__list" role="list">

                    <li class="day">

                        <div class="day__header">
                            <p class="day__title">23 Декабря</p>
                            <button class="day__btn" type="button">
                                <svg class="day__btn__icon">
                                    <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                                </svg>
                            </button>
                        </div>

                        <ul class="events" role="list">

                            <li class="events__item">
                                <p class="events__time">09:00</p>
                                <div class="day__color"></div>
                                <div class="events__content">
                                    <p class="events__author">Старший программист</p>
                                    <p class="events__name">Собеседование</p>
                                </div>
                            </li>

                            <li class="events__item">
                                <p class="events__time">10:00</p>
                                <div class="day__color"></div>
                                <div class="events__content">
                                    <p class="events__author">Начальник отдела</p>
                                    <p class="events__name">Собрание</p>
                                </div>
                            </li>

                        </ul>
                    </li>

                    <li class="day">

                        <div class="day__header">
                            <p class="day__title">26 Декабря</p>
                            <button class="day__btn" type="button">
                                <svg class="day__btn__icon">
                                    <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                                </svg>
                            </button>
                        </div>

                        <ul class="events" role="list">

                            <li class="events__item">
                                <p class="events__time">08:00</p>
                                <div class="day__color"></div>
                                <div class="events__content">
                                    <p class="events__author">Руководитель отдела</p>
                                    <p class="events__name">Консультация</p>
                                </div>
                            </li>

                        </ul>
                    </li>

                    <li class="day">

                        <div class="day__header">
                            <p class="day__title">27 Декабря</p>
                            <button class="day__btn" type="button">
                                <svg class="day__btn__icon">
                                    <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                                </svg>
                            </button>
                        </div>

                        <ul class="events" role="list">

                            <li class="events__item">
                                <p class="events__time">09:00</p>
                                <div class="day__color"></div>
                                <div class="events__content">
                                    <p class="events__author">HR-директор</p>
                                    <p class="events__name">Собеседование</p>
                                </div>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

        </aside>

        <div class="persona">

            <button class="persona__btn" type="button">
                <svg class="persona__btn__icon">
                    <use xlink:href="./images/icons/svg/icons.svg#close-icon"></use>
                </svg>
            </button>

            <div class="persona__img">
                <img class="persona__avatar" src="./images/avatars/workers/woman-avatar-2.jpg" alt="Фото сотрудника">
            </div>

            <section class="persona__info">
                <h3 class="persona__prop persona__prop_bold" fullname>Стрельцова Лиза</h3>
                <p class="persona__prop" age><span class="persona__key">Возраст:</span> 29 лет</p>
                <p class="persona__prop" login><span class="persona__key">Почта:</span> qwerty@mail.ru</p>
                <p class="persona__prop" phone><span class="persona__key">Телефон:</span> +7 (777) 777-77-77</p>
                <p class="persona__prop" division><span class="persona__key" division>Отдел:</span> HR отдел</p>
                <p class="persona__prop" position><span class="persona__key" position>Должность:</span> HR-директор</p>
                <p class="persona__prop" salary><span class="persona__key">Оклад:</span> 120000Р</p>
            </section>

            <section class="persona__chart">
                <div class="persona__compatibility persona__compatibility_success">
                    <svg class="persona__compatibility__icon">
                        <use xlink:href="./images/icons/svg/icons.svg#success-icon"></use>
                    </svg>
                    <p class="persona__status">Полная совместимость с коллективом</p>
                </div>
                <canvas class="persona__radar" id="radar" aria-label="Диаграмма распределения баллов по шкалам FIRO-B" role="img"></canvas>
            </section>

            <section class="persona__stats">

                <h3 class="persona__stats__title">Характеристики</h3>

                <div class="persona__stat">
                    <div class="persona__stat__header">
                        <span class="persona__label">Интроверт</span>
                        <span class="persona__label">Экстроверт</span>
                    </div>
                    <div class="persona__meter" scale="I"></div>
                </div>

                <div class="persona__stat">
                    <div class="persona__stat__header">
                        <span class="persona__label">Подчиненный</span>
                        <span class="persona__label">Руководитель</span>
                    </div>
                    <div class="persona__meter" scale="C"></div>
                </div>

                <div class="persona__stat">
                    <div class="persona__stat__header">
                        <span class="persona__label">Отстраненность</span>
                        <span class="persona__label">Близость</span>
                    </div>
                    <div class="persona__meter" scale="A"></div>
                </div>
            </section>

            <section class="persona__description">
                <h3 class="persona__description__title">Описание</h3>
                <div class="persona__container">
                    <ul class="persona__list" role="list">
                        <li class="persona__list__item" scale="Ie">Высокие значения по этой шкале означают активное стремление человека принадлежать к различным группам, быть включенным, как можно чаще находиться среди людей.
                        <li class="persona__list__item" scale="Iw">Высокие значения по этой шкале свидетельствуют о стремлении индивида к тому, чтобы окружающие прилагали усилия, чтобы быть в его обществе, даже в тех случаях, когда он сам ничего не делает для этого.</li>
                        <li class="persona__list__item" scale="Ce">Низкие значения показатель того, что индивид активно избегает принятия решений и взятия на себя ответственности.</li>
                        <li class="persona__list__item" scale="Cw">Высокие значения отражают потребность индивида в зависимости, в ожидании контроля и руководства со стороны окружающих.</li>
                        <li class="persona__list__item" scale="Ae">Низкие значения - показатель большой осторожности и избирательности в установлении близких отношений.</li>
                        <li class="persona__list__item" scale="Aw">Высокие показатели говорят о потребности индивида в том, чтобы окружающие стремились быть к нему эмоционально более близкими, делились своими личными чувствами, вовлекали в глубокие эмоциональные отношения.</li>
                    </ul>
                </div>
            </section>

        </div>

    </div>

    <template id="worker-template">
        <li class="content__item">
            <div class="card">
                <button class="card__btn card__btn_more" type="button">
                    <svg class="card__icon">
                        <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                    </svg>
                </button>
                <img class="card__avatar" src="./images/default-avatar.png" alt="Аватар соискателя">
                <div class="card__data">
                    <p class="card__fullname"></p>
                    <p class="card__position"></p>
                </div>
                <div class="card__control">

                    <button class="card__btn card__btn_like" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#heart-icon"></use>
                        </svg>
                    </button>

                    <button class="card__btn card__btn_calendar" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#calendar-icon"></use>
                        </svg>
                    </button>

                    <button class="card__btn card__btn_message" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#message-icon"></use>
                        </svg>
                    </button>

                </div>
            </div>
            <div class="row">
                <p class="row__name"></p>
                <p class="row__surname"></p>
                <p class="row__middlename"></p>
                <p class="row__division"></p>
                <p class="row__position"></p>
                <p class="row__salary"></p>
            </div>
        </li>
    </template>

</body>
</html>