<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HRMS, менеджмент, человеческие ресурсы, автоматизация, предприятие">
    <meta name="description" content="Добро пожаловать! HRMS - это совершенно новая HRM-система, которая позволит вам эффективно распоряжаться человеческими ресурсами на предприятии. Предприятие любого вида и направленности обязательно найдет для себя все необходимые функции для успешного развития кадров.">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <title>HRMS: Рекрутинг</title>
</head>
<body>
    <div class="container">

        <div class="nav-container">

            <header class="header">
                <a class="header__content" href="./home.html">
                    <img class="header__logo" src="./images/logo.png" alt="Логотип HRM системы">
                    <h1 class="header__text">
                        <span class="header__letter">H</span><span class="header__letter">R</span><span class="header__letter">M</span><span class="header__letter">S</span>
                    </h1>
                </a>
            </header>

            <nav class="nav">
                <ul class="nav__list" aria-label="Инструменты" role="list">
                    <li class="nav__item nav__item_current">
                        <a class="nav__btn" href="./recruiting.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#recruiting-icon"></use>
                            </svg>
                            <p class="nav__text">Рекрутинг</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="./workers.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#group-icon"></use>
                            </svg>
                            <p class="nav__text">Сотрудники</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#statistics-icon"></use>
                            </svg>
                            <p class="nav__text">Статистика</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#data-icon"></use>
                            </svg>
                            <p class="nav__text">Данные</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="./calendar.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#calendar-icon"></use>
                            </svg>
                            <p class="nav__text">События</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#test-icon"></use>
                            </svg>
                            <p class="nav__text">Тестирование</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#chat-icon"></use>
                            </svg>
                            <p class="nav__text">Обращения</p>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="nav">
                <ul class="nav__list" aria-label="Другое" role="list">
                    <li class="nav__item">
                        <a class="nav__btn" href="">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#settings-icon"></use>
                            </svg>
                            <p class="nav__text">Настройки</p>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__btn" href="./login.html">
                            <svg class="nav__icon">
                                <use xlink:href="./images/icons/svg/icons.svg#logout-icon"></use>
                            </svg>
                            <p class="nav__text">Выйти</p>
                        </a>
                    </li>
                </ul>
            </nav>

            <button class="nav__toggler-btn nav__toggler-btn_close" type="button">
                <svg class="nav__toggler-icon">
                    <use xlink:href="./images/icons/svg/icons.svg#arrow-icon"></use>
                </svg>
            </button>
        </div>

        <main class="main">

            <section class="section section_no-shrink">

                <div class="section__header">
                    <h3 class="section__title section__title_regular">Нужно нанять</h2>
                    <button class="section__btn" aria-expanded="true" type="button">
                        <svg class="section__btn__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#arrow-icon"></use>
                        </svg>
                    </button>
                    <a class="section__btn section__btn_flex">Все задачи
                        <svg class="section__btn__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#arrow-right-icon"></use>
                        </svg>
                    </a>
                </div>

                <ul class="tasks" role="list">

                    <li class="tasks__item">
                        <p class="tasks__require">2</p>
                        <div class="tasks__content">
                            <p class="tasks__position">Старший разработчик</p>
                            <p class="tasks__candidates">4 кандидата</p>
                        </div>
                        <div class="tasks__diagram"></div>
                    </li>

                    <li class="tasks__item">
                        <p class="tasks__require">3</p>
                        <div class="tasks__content">
                            <p class="tasks__position">Контент менеджер</p>
                            <p class="tasks__candidates">7 кандидатов</p>
                        </div>
                        <div class="tasks__diagram"></div>
                    </li>

                    <li class="tasks__item">
                        <p class="tasks__require">1</p>
                        <div class="tasks__content">
                            <p class="tasks__position">Главный инженер</p>
                            <p class="tasks__candidates">3 кандидата</p>
                        </div>
                        <div class="tasks__diagram"></div>
                    </li>

                    <li class="tasks__item">
                        <p class="tasks__require">8</p>
                        <div class="tasks__content">
                            <p class="tasks__position">Бухгалтер</p>
                            <p class="tasks__candidates">10 кандидатов</p>
                        </div>
                        <div class="tasks__diagram"></div>
                    </li>

                </ul>

            </section>

            <section class="section section_grow">
                <div class="section__header">
                    <h2 class="section__title section__title_large"></h2>
                    <button class="section__btn section__btn_clear">Очистить</button>
                </div>

                <div class="section__inputs">

                    <div class="section__container section__container_x2">
                        <input
                            class="section__input section__input_search"
                            type="search"
                            name="search"
                            id="input-search"
                            placeholder="Поиск"
                            aria-label="Поиск">
                        <svg class="section__input__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#search-icon"></use>
                        </svg>
                    </div>

                    <div class="section__container section__container_x1">
                        <input
                            class="section__input"
                            type="search"
                            name="position"
                            id="input-position"
                            list="datalist-positions"
                            placeholder="Должность"
                            aria-label="Должность">
                        <svg class="section__input__icon section__input__icon_persons">
                            <use xlink:href="./images/icons/svg/icons.svg#persons-icon"></use>
                        </svg>
                        <datalist class="section__datalist" id="datalist-positions"></datalist>
                    </div>

                </div>

                <div class="content-wrapper">
                    <ul class="content content_cards" role="list" aria-label="Список кандидатов"></ul>
                    <div class="content__page-btns"></div>
                </div>

            </section>

        </main>

        <aside class="aside">
            <div class="events">
                <h3 class="events__title">События</h3>
                <ul class="events__list" role="list"></ul>
            </div>
        </aside>

        <dialog class="modal modal__feeling" id="modal-feeling">
            <h3 class="feeling__title">Оцените свое настроение</h3>
            <div class="feeling__btns">
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="1" id="radio-feeling-1">
                    <label class="feeling__label" for="radio-feeling-1">Ужасное</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="2" id="radio-feeling-2">
                    <label class="feeling__label" for="radio-feeling-2">Плохое</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="3" id="radio-feeling-3">
                    <label class="feeling__label" for="radio-feeling-3">Не очень</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="4" id="radio-feeling-4">
                    <label class="feeling__label" for="radio-feeling-4">Нормальное</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="5" id="radio-feeling-5">
                    <label class="feeling__label" for="radio-feeling-5">хорошее</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="6" id="radio-feeling-6">
                    <label class="feeling__label" for="radio-feeling-6">Отличное</label>
                </div>
                <div class="feeling__choice">
                    <input class="feeling__radio" type="radio" name="feeling" value="7" id="radio-feeling-7">
                    <label class="feeling__label" for="radio-feeling-7">Восхитительное</label>
                </div>
            </div>
        </dialog>

        <dialog class="modal modal__feedback" id="modal-feedback">
            <form class="feedback__form" action="#" method="dialog">
                <h3 class="feedback__title">Дайте нам обратную связь</h3>
                <textarea class="feedback__textarea" name="content" id="textarea-content" cols="50" rows="10" placeholder="Ваше сообщение..." required></textarea>
                <div class="feedback__btns">
                    <button class="feedback__btn feedback__btn_submit" type="submit">Отправить</button>
                    <button class="feedback__btn feedback__btn_close" type="button">Закрыть</button>
                </div>
            </form>
        </dialog>

    </div>

    <template id="candidate-template">
        <li class="content__item">
            <div class="card">
                <button class="card__btn card__btn_more" type="button">
                    <svg class="card__icon">
                        <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                    </svg>
                </button>
                <img class="card__avatar" src="" alt="Аватар соискателя">
                <div class="card__data">
                    <p class="card__fullname"></p>
                    <p class="card__position"></p>
                </div>
                <div class="card__control">

                    <button class="card__btn card__btn_like" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#heart-icon"></use>
                        </svg>
                    </button>

                    <button class="card__btn card__btn_calendar" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#calendar-icon"></use>
                        </svg>
                    </button>

                    <button class="card__btn card__btn_message" type="button">
                        <svg class="card__icon">
                            <use xlink:href="./images/icons/svg/icons.svg#message-icon"></use>
                        </svg>
                    </button>

                </div>
            </div>
        </li>
    </template>

    <template id="day-template">
        <li class="day">

            <div class="day__header">
                <p class="day__title"></p>
                <button class="day__btn" type="button">
                    <svg class="day__btn__icon">
                        <use xlink:href="./images/icons/svg/icons.svg#more-icon"></use>
                    </svg>
                </button>
            </div>

            <ul class="day__events" role="list"></ul>
        </li>
    </template>

    <template id="event-template">
        <li class="event">
            <p class="event__time"></p>
            <div class="event__color"></div>
            <div class="event__content">
                <p class="event__author"></p>
                <p class="event__name"></p>
            </div>
        </li>
    </template>

</body>
</html>