.section__inputs {
	display: flex;
	align-items: center;
	gap: 1.5rem;

	padding: 0 0.8rem;
}

.section__container {
	display: grid;
	align-items: center;
	grid-template-areas: 'input';

	padding: 0.4rem 1.2rem;

	border: 4px solid transparent;
	border-radius: 1.5rem;
	background-color: var(--clr-neutral-100);
	box-shadow: 4px 4px 8px 3px hsla(0, 0%, 60%, 0.3);
	cursor: text;

	transition: border-color 0.4s linear, box-shadow 0.4s linear;
}

.section__container:not(.section__container_radio):focus-within {
	border-color: var(--clr-primary-400);
	box-shadow: none;
}

.section__container_radio {
	padding: 0;
	align-self: stretch;

	display: flex;

	border: 0;
	overflow: hidden;
}

.section__container_x2 {
	flex: 2;
}

.section__container_x1 {
	flex: 1;
}

.section__input {
	grid-area: input;

	font-size: 1.2rem;
	font-weight: var(--fw-regular);
	line-height: 1;
	color: var(--clr-neutral-900);

	border: 0;
	outline: 0;
	background-color: transparent;
}

.section__input[type='search']::-webkit-search-cancel-button {
	display: none;
}

.section__input::placeholder {
	color: var(--clr-primary-200);
}

.section__input_search {
	padding-left: 2.2rem;
}

.section__input__icon {
	grid-area: input;

	width: 1.5rem;
	height: 1.5rem;

	fill: var(--clr-primary-200);

	transition: fill 0.4s linear;
}

.section__input:focus + .section__input__icon {
	fill: var(--clr-primary-400);
}

.section__input__icon_persons {
	justify-self: flex-end;

	background-color: inherit;
}

.section__radio {
	appearance: none;
	display: none;
}

.section__label {
	padding: 0 1rem;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.section__radio:checked + .section__label {
	background-color: var(--clr-primary-400);
}

.section__radio:checked + .section__label .section__input__icon {
	fill: var(--clr-neutral-100);
}
